<a href="https://colab.research.google.com/github/gauravcr7rm/cool_name_pending/blob/master/Copy_of_paytm_collaborative_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
from sklearn.cluster import KMeans
from sklearn import preprocessing
import pandas as pd

df = pd.read_csv('data.csv',encoding='latin')
#print(df.head())
df.drop(['Description','InvoiceDate'], 1, inplace=True)
df.convert_objects(convert_numeric=True)
df.fillna(0, inplace=True)
#print(df.head())

def handle_non_numerical_data(df):
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

df = handle_non_numerical_data(df)
#From here, we can right away do the clustering:

#X = np.array(df.drop(['survived'], 1).astype(float))
#y = np.array(df['survived'])

clf = KMeans(n_clusters=10)
clf.fit(df)
clf.fit_predict(df)
df.loc[:,'labels']= clf.labels_

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if sys.path[0] == '':

In [2]:
df.head()

   InvoiceNo  StockCode  Quantity  UnitPrice  CustomerID  Country  labels
0      10887       2935         6       2.55     17850.0        3       0
1      10887       1346         6       3.39     17850.0        3       0
2      10887       3147         8       2.75     17850.0        3       0
3      10887        725         6       3.39     17850.0        3       0
4      10887       2090         6       3.39     17850.0        3       0

In [3]:
df.tail()

        InvoiceNo  StockCode  Quantity  UnitPrice  CustomerID  Country  labels
541904        828       3388        12       0.85     12680.0        2       3
541905        828       2067         6       2.10     12680.0        2       3
541906        828       2323         4       4.15     12680.0        2       3
541907        828       3653         4       4.15     12680.0        2       3
541908        828       1011         3       4.95     12680.0        2       3