<a href="https://colab.research.google.com/github/gauravcr7rm/cool_name_pending/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
from sklearn.cluster import KMeans
from sklearn import preprocessing
import pandas as pd

df = pd.read_csv('content_based_dataset.csv',encoding='latin')
#print(df.head())
df.drop(['product_id'], 1, inplace=True)
df.convert_objects(convert_numeric=True)
df.fillna(0, inplace=True)
#print(df.head())

def handle_non_numerical_data(df):
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            df[column] = list(map(convert_to_int, df[column]))

    return df

df = handle_non_numerical_data(df)
#From here, we can right away do the clustering:

#X = np.array(df.drop(['survived'], 1).astype(float))
#y = np.array(df['survived'])

clf = KMeans(n_clusters=5)
clf.fit(df)
clf.fit_predict(df)
df.loc[:,'labels']= clf.labels_

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if sys.path[0] == '':

In [0]:
df.head()

,product_name,category,ram,memory,mileage,speed,price,Isdigital,brand,colour,power,sound,labels
0,13,0,2,1,0,1000,10000,1,3,3,17,10,2
1,22,0,4,2,0,2000,16000,1,22,2,3,20,2
2,20,0,2,3,0,3000,20000,1,15,6,16,15,2
3,8,0,3,4,0,3500,25000,1,7,5,23,18,2
4,14,1,0,0,40,79,200000,0,17,1,10,30,3

In [0]:
print(df.size)

338

In [0]:
dict = {'1': ["mobile phone", "pc", "earphones"], '2' : ["car", "bike"], '3' : ["watch", "bag"], '4' : ["fan", "light"], '5' : ["jewellery", "furniture"]}

In [0]:
recommender_list =[]
prev_3_buyed = ['1', '3', '4']
for i in prev_3_buyed:
  recommender_list.append(dict[i])
print(recommender_list)

[['mobile phone', 'pc', 'earphones'], ['watch', 'bag'], ['fan', 'light']]